<html>
<head>
</head>
<body>
<h2>{{message}}</h2>
<a href="/home">Home</a>

<form action="/creategroup" method="POST" enctype = "multipart/form-data">
	<h2>Create Group</h2>
	<input type="text" name = "groupname" placeholder="Groupname" required/> </br>
	<input type="text" name = "description" placeholder="Description" required/> </br>
	<input type="submit" value = Create>
</form>

<form action="/addgroupmember" method="POST" enctype = "multipart/form-data">
	<h2>Add Group Member</h2>
	<input type="text" name = "groupname" placeholder="Groupname" required/> </br>
	<input type="text" name = "adduser" placeholder="Username" required/> </br>
	<input type="submit" value = Add>
</form>

<style type="text/css">
	div{
		border: 1px solid black;
	}
</style>

</body>


</html>