<html>
<head>
</head>
<body>

<h1>Welcome @{{username}}</h1>

<div id="Sidebar">
<div>

<form action="/uploadImage" method="POST" enctype = "multipart/form-data">
	<h2>Share a Post</h2>
	<input type="file" name = "imageToUpload" accept = "image/*"/> </br>
	<input type="text" name = "caption" placeholder="caption" required/> </br>
	<input type="radio" name = "allFollowers" value = 'true'/> share with all followers? </br>
	<input type="radio" name = "allFollowers" value = 'false'/> do not share with all followers? </br>
	<input type="submit" value = Post />
</form>
</div>

<div>
<form action="/search" method="POST" enctype = "multipart/form-data">
	<h2>Search Users</h2>
	<input type="text" name = "searchbar" placeholder="Username" required/> </br>
	<input type="submit" value = "Search"/>
</form>
<form action="/follow" method="POST" enctype = "multipart/form-data">
	<h2>Follow User</h2>
	<input type="text" name="followuser" placeholder="Username" required/> </br>
	<input type="radio" name="follow" value="Follow" checked/> Follow </br>
	<input type="radio" name="follow" value="Unfollow"/> Unfollow </br>
	<input type="submit" value = "Follow/Unfollow"/>
</form>
</div>

<a href="/groups">Groups</a>
<a href="/logout">Logout</a>
<a href="/requests">Follow Requests</a>

</div>

<style type="text/css">
	div{
		border: 1px solid black;
		margin-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}

	#Sidebar {
		width: 30%;
		float: left;
		border: none;
		position: fixed;
	}

	#Feed {
		width: 66%;
		float: right;
		padding-left: 5px;
		padding-right: 5px;
	}

	#Tags {
		width: 66%;
		float: right;
		padding-left: 5px;
		padding-right: 5px;
	}

	img {
		width: 300px;
	}

</style>

<div id="Feed">
<h2>Feed</h2>


{% for image in images %}
	<div id="Post">  
		<img src="/image/{{image.file}}"/>       
		<h4><b>@{{image.photoPoster}}</b> <i>{{image.caption}}</i></h4>
        <h6>PhotoID: {{image.PhotoID}} </h6>
        <h6>{{image.postingDate}}</h6>

        <!-- Tagging: Form to tag user in a photo-->
        <form action="/tag" method="POST" enctype = "multipart/form-data">
			<input type="text" name = "username" placeholder = "tag someone" required/> </br>
			<input type="hidden" name="photoID" value="{{image.PhotoID}}">
			<input type="submit" value = "tag"/>
		</form>
		<br />
		<form action="/info" method="POST" enctype = "multipart/form-data">
			<input type="hidden" name="photoIDinfo" value="{{image.PhotoID}}">
			<input type="hidden" name="photoPoster" value="{{image.photoPoster}}">
			<input type="hidden" name="image" value="{{image.file}}">
			<input type="submit" value = "Photo info"/>
		</form>

    </div>
{% endfor %}
</div>

<!--Tagging: Display each post user has been tagged in and give form to accept or deny tag-->
<div id="Tags">
<h2>Tag Requests</h2>

{% for image in images_tagged %}
	<div id="tag_requests">        
		<h4><b>@{{image.photoPoster}}</b> <i>{{image.caption}}</i></h4>
        <h6>PhotoID: {{image.photoID}} </h6>
        <h6>{{image.postingDate}}</h6>
        <form action="/managetags" method="POST" enctype = "multipart/form-data">
		<input type="radio" name="allow" value="true"/> Accept Tag </br>
		<input type="radio" name="allow" value="false"/> Deny Tag </br>	
		<input type="hidden" name="photoID" value="{{image.photoID}}">		
		<input type="submit" value = "Accept/Deny Tag"/>
		</form>
    </div>
{% endfor %}
</div>

<br>


</body>


</html>

